---
import Layout from '../layouts/Layout.astro'
import Home from '../components/home.astro'
import Services from '../components/services.astro'
import About from '../components/about.astro'
import Contact from '../components/contact.astro'
import Footer from '../components/footer.astro'
---

<Layout>
  <main>
    <Home />
    <Services />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
