---
import Carousel from './carousel.astro'
const infos = [
  {
    title: '+300',
    label: 'Reparos',
  },
  {
    title: '+120',
    label: 'Clientes Atendidos',
  },
  {
    title: '+50',
    label: 'Componentes Trocados',
  },
]
---

<section id="sobre">
  <div class="bg-black3 text-white py-24">
    <div class="container max-w-7xl flex items-center relative">
      <div class="details w-11 h-full absolute left-5 hidden sm:block"></div>
      <div class="px-5 sm:pl-32 w-full">
        <div class="max-w-[1036px] mx-auto block md:grid md:grid-cols-10 md:gap-10 md:items-center">
          <div class="w-full max-w-xs md:w-auto mx-auto sm:mx-0 mb-20 md:col-span-4">
            <img
              src="https://scontent.fpgz4-1.fna.fbcdn.net/v/t1.6435-9/124514016_3717335248288808_1241638968410583017_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHwg3jJXIYAs9K8KVh62J81w3fjVoDKznnDd-NWgMrOebEEnAZN7IIeXXX8NY8Bi5lDok4up71C98oZyrsJUFVc&_nc_ohc=yl4Xv1CxU7wAX_ixnFS&_nc_ht=scontent.fpgz4-1.fna&oh=00_AfDzQcz2H7cP-OHEIOc0R_lEvvwQKOpbPvSLAGULp1pY_g&oe=653AD51A"
              alt="Valdir Rospirski Técnico"
              class="object-fill h-auto rounded-full"
            />
          </div>
          <div class="md:col-span-6">
            <div>
              <h2
                class="bg-[#FCD34D] inline-block px-5 text-black font-medium tracking-[.4px] rounded-[32px] about-text relative z-10">
                SOBRE MIM
              </h2>
            </div>
            <p class="text-xl font-medium height leading-9 py-8">
              Eu valorizo muito a satisfação do cliente e sempre busco entender suas necessidades para oferecer as
              melhores soluções. Meus valores incluem transparência e honestidade em todas as etapas do serviço, desde o
              diagnóstico até a conclusão do reparo
            </p>
            <div class="text-golden">Valdir Rospirski</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-y-[#333] border-y bg-black1 p-5 py-24">
    <div class="container text-white grid grid-cols-3 items-center justify-center gap-14 max-w-4xl">
      {
        infos.map((i) => (
          <div class="col-span-3 sm:col-span-1 text-center">
            <h2 class="text-golden text-5xl font-extrabold mb-2">{i.title}</h2>
            <p class="text-lg font-medium">{i.label}</p>
          </div>
        ))
      }
    </div>
  </div>
  <div class="bg-black3 text-white py-24">
    <div class="container max-w-7xl">
      <h1
        class="before:absolute before:bg-golden before:w-16 before:content-[''] before:h-1 before:rounded before:mx-auto before:left-0 before:right-0 before:bottom-[-10px] text-center font-bold text-4xl tracking-[-.9px] relative mb-10">
        Depoimentos
      </h1>
      <Carousel />
    </div>
  </div>
</section>

<style lang="scss">
  .details {
    background: url('https://assets.rospirski.com/img/icons/details.svg');
    background-repeat: repeat;
  }

  .about-text {
    &::before {
      content: '';
      display: block;
      background: url('https://assets.rospirski.com/img/icons/quote.svg');
      width: 144px;
      height: 144px;
      position: absolute;
      top: -70px;
      left: -30px;
      z-index: 2;
    }
  }
</style>
