---
import { Image } from 'astro:assets'
import VRImage from '/src/assets/img/avatars/vr.png'
import Carousel from './carousel.astro'
const infos = [
  {
    title: '+300',
    label: 'Reparos',
  },
  {
    title: '+120',
    label: 'Clientes Atendidos',
  },
  {
    title: '+50',
    label: 'Componentes Trocados',
  },
]
---

<section id="sobre">
  <div class="bg-black3 text-white py-24">
    <div class="container max-w-7xl flex items-center relative">
      <div
        class="details w-11 h-full absolute left-5 hidden sm:block bg-[url('https://assets.rospirski.com/img/icons/details.svg')]">
      </div>
      <div class="px-5 sm:pl-32 w-full">
        <div class="max-w-[1036px] mx-auto block md:grid md:grid-cols-10 md:gap-10 md:items-center">
          <div class="md:col-span-4 flex items-center justify-center">
            <div class="rounded-full overflow-hidden bg-black1 shadow-lg">
              <Image src={VRImage} alt="Valdir Rospirski Técnico" class="w-52 sm:w-72 mb-20 md:mb-0" />
            </div>
          </div>
          <div class="md:col-span-6">
            <div>
              <h2
                class="bg-[#FCD34D] inline-block px-5 text-black font-medium tracking-[.4px] rounded-[32px] about-text relative z-10
                before:content-[''] before:absolute before:block before:bg-[url('https://assets.rospirski.com/img/icons/quote.svg')] before:bg-repeat
                before:z-10 before:w-36 before:h-36 before:top-[-77px] before:left-[-30px]">
                SOBRE MIM
              </h2>
            </div>
            <p class="text-xl font-medium height leading-9 py-8">
              Eu valorizo muito a satisfação do cliente e sempre busco entender suas necessidades para oferecer as
              melhores soluções. Meus valores incluem transparência e honestidade em todas as etapas do serviço, desde o
              diagnóstico até a conclusão do reparo
            </p>
            <div class="text-golden">Valdir Rospirski</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-y-[#333] border-y bg-black1 p-5 py-24">
    <div class="container text-white grid grid-cols-3 items-center justify-center gap-14 max-w-4xl">
      {
        infos.map((i) => (
          <div class="col-span-3 sm:col-span-1 text-center">
            <h2 class="text-golden text-5xl font-extrabold mb-2">{i.title}</h2>
            <p class="text-lg font-medium">{i.label}</p>
          </div>
        ))
      }
    </div>
  </div>
  <div class="bg-black3 text-white py-24">
    <div class="container max-w-7xl">
      <h1
        class="before:absolute before:bg-golden before:w-16 before:content-[''] before:h-1 before:rounded before:mx-auto before:left-0 before:right-0 before:bottom-[-10px] text-center font-bold text-4xl tracking-[-.9px] relative mb-10">
        Depoimentos
      </h1>
      <Carousel />
    </div>
  </div>
</section>
