<section id="contato">
  <div class="bg-black2 px-5 py-24 text-[#888] text-center border-y-[#333] border-y">
    <div class="container max-w-md">
      <h2 class="text-white text-4xl font-extrabold mb-4">Ainda com dúvidas?</h2>
      <p class="text-lg mb-9">Sem problemas. Estamos prontos para ajudá-lo, apenas clique abaixo</p>
      <div class="inline-block">
        <a
          href="https://rospirski.com/whatsapp"
          target="_blank"
          class="bg-golden py-3 px-6 rounded flex items-center font-medium gap-3 shadow-sm text-black hover:brightness-90">
          <span>Entrar em contato</span>
        </a>
      </div>
    </div>
  </div>
</section>
