<section id="contato">
  <div class="bg-black2 px-5 py-24 border-t-[#333] border-t text-white">
    <h1
      class="before:absolute before:bg-golden before:w-16 before:content-[''] before:h-1 before:rounded before:mx-auto before:left-0 before:right-0 before:bottom-[-10px] text-center font-bold text-4xl tracking-[-.9px] relative mb-20">
      Endereço
    </h1>
    <div class="container max-w-7xl flex flex-wrap justify-center items-center">
      <div class="w-full sm:w-1/2 md:w-5/12 lg:w-4/12 h-52">
        <iframe
          width="100%"
          height="100%"
          style="border:0"
          loading="lazy"
          allowfullscreen
          title="Google Maps Localização"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB7-SIyaT0_vS3V-aSwsw0DHF2oHP_-zrI
    &q=Rospirski+Assistência+Técnica">
        </iframe>
      </div>
      <div class="text-left w-full sm:w-1/2 md:w-5/12 p-0 lg:w-4/12 sm:pl-5 mt-5 sm:mt-0">
        <p>Rua Tereza de Jesus, 92 - Centro</p>
        <p>Ipiranga - Paraná</p>
        <p>84450-000</p>
        <p>(42) 9 9917-5502</p>
        <p>contato@rospirski.com</p>
      </div>
    </div>
  </div>
  <div class="bg-black2 px-5 py-24 text-[#888] text-center border-y-[#333] border-y">
    <div class="container max-w-md">
      <h2 class="text-white text-4xl font-extrabold mb-4">Ainda com dúvidas?</h2>
      <p class="text-lg mb-9">Sem problemas. Estamos prontos para ajudá-lo, apenas clique abaixo</p>
      <div class="inline-block">
        <a
          href="https://rospirski.com/whatsapp"
          target="_blank"
          class="bg-golden py-3 px-6 rounded flex items-center font-medium gap-3 shadow-sm text-black hover:brightness-90">
          <span>Entrar em contato</span>
        </a>
      </div>
    </div>
  </div>
</section>
