---
const social = [
  {
    title: 'linkedin',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
  <path d="M19.0945 0H1.94718C1.16146 0 0.523071 0.647322 0.523071 1.44196V18.558C0.523071 19.3527 1.16146 20 1.94718 20H19.0945C19.8802 20 20.5231 19.3527 20.5231 18.558V1.44196C20.5231 0.647322 19.8802 0 19.0945 0ZM3.60343 17.1429V7.59821H6.57218V17.1429H3.60343ZM5.08557 6.29464C4.13468 6.29464 3.36682 5.52232 3.36682 4.57589C3.36682 3.62946 4.13468 2.85714 5.08557 2.85714C6.032 2.85714 6.80432 3.62946 6.80432 4.57589C6.80432 5.52679 6.03646 6.29464 5.08557 6.29464ZM17.6793 17.1429H14.715V12.5C14.715 11.3929 14.6927 9.96875 13.1749 9.96875C11.6302 9.96875 11.3936 11.1741 11.3936 12.4196V17.1429H8.42932V7.59821H11.2731V8.90179H11.3132C11.7106 8.15179 12.6793 7.36161 14.1213 7.36161C17.1213 7.36161 17.6793 9.33928 17.6793 11.9107V17.1429Z" fill="white"/>
</svg>`,
    link: 'https://rospirski.com/linkedin',
  },
  {
    title: 'instagram',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
  <path d="M10.5275 4.87225C7.6892 4.87225 5.39979 7.16166 5.39979 10C5.39979 12.8383 7.6892 15.1277 10.5275 15.1277C13.3659 15.1277 15.6553 12.8383 15.6553 10C15.6553 7.16166 13.3659 4.87225 10.5275 4.87225ZM10.5275 13.3337C8.69333 13.3337 7.19383 11.8387 7.19383 10C7.19383 8.16133 8.68886 6.6663 10.5275 6.6663C12.3662 6.6663 13.8612 8.16133 13.8612 10C13.8612 11.8387 12.3617 13.3337 10.5275 13.3337ZM17.0611 4.6625C17.0611 5.32746 16.5255 5.85853 15.865 5.85853C15.2001 5.85853 14.669 5.32299 14.669 4.6625C14.669 4.00201 15.2045 3.46647 15.865 3.46647C16.5255 3.46647 17.0611 4.00201 17.0611 4.6625ZM20.4572 5.87638C20.3814 4.27424 20.0154 2.85507 18.8417 1.68582C17.6725 0.516568 16.2533 0.150619 14.6512 0.070289C12.9999 -0.0234296 8.05068 -0.0234296 6.39945 0.070289C4.80177 0.146156 3.38261 0.512105 2.20889 1.68136C1.03518 2.85061 0.67369 4.26978 0.59336 5.87192C0.499642 7.52315 0.499642 12.4724 0.59336 14.1236C0.669228 15.7258 1.03518 17.1449 2.20889 18.3142C3.38261 19.4834 4.79731 19.8494 6.39945 19.9297C8.05068 20.0234 12.9999 20.0234 14.6512 19.9297C16.2533 19.8538 17.6725 19.4879 18.8417 18.3142C20.011 17.1449 20.3769 15.7258 20.4572 14.1236C20.551 12.4724 20.551 7.52761 20.4572 5.87638ZM18.324 15.8953C17.9759 16.7701 17.3021 17.4439 16.4229 17.7965C15.1064 18.3186 11.9824 18.1981 10.5275 18.1981C9.07266 18.1981 5.94425 18.3142 4.63219 17.7965C3.75748 17.4484 3.0836 16.7745 2.73104 15.8953C2.20889 14.5788 2.32939 11.4549 2.32939 10C2.32939 8.54513 2.21335 5.41671 2.73104 4.10465C3.07914 3.22995 3.75302 2.55606 4.63219 2.2035C5.94871 1.68136 9.07266 1.80185 10.5275 1.80185C11.9824 1.80185 15.1108 1.68582 16.4229 2.2035C17.2976 2.5516 17.9715 3.22548 18.324 4.10465C18.8462 5.42118 18.7257 8.54513 18.7257 10C18.7257 11.4549 18.8462 14.5833 18.324 15.8953Z" fill="white"/>
</svg>`,
    link: 'https://rospirski.com/instagram',
  },
  {
    title: 'github',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7638 0C5.11035 0 0.527588 4.58993 0.527588 10.2536C0.527588 14.7832 3.46027 18.6269 7.52815 19.9822C8.03996 20.0763 8.22626 19.76 8.22626 19.4877C8.22626 19.2451 8.21807 18.5992 8.21295 17.7445C5.36523 18.3638 4.76437 16.3698 4.76437 16.3698C4.29964 15.1844 3.62814 14.8692 3.62814 14.8692C2.69869 14.2345 3.69877 14.2468 3.69877 14.2468C4.72547 14.3184 5.26594 15.3032 5.26594 15.3032C6.17901 16.8693 7.66224 16.4169 8.24469 16.1548C8.33886 15.4925 8.60295 15.0411 8.89571 14.7852C6.62327 14.5262 4.23311 13.6459 4.23311 9.71726C4.23311 8.59844 4.63232 7.6823 5.28641 6.96576C5.18098 6.70678 4.82988 5.66371 5.38673 4.25316C5.38673 4.25316 6.24657 3.97678 8.20169 5.30339C9.03673 5.07565 9.89829 4.95965 10.7638 4.95843C11.6339 4.96253 12.5091 5.07615 13.327 5.30339C15.2811 3.97678 16.1389 4.25213 16.1389 4.25213C16.6978 5.66371 16.3456 6.70678 16.2412 6.96576C16.8964 7.6823 17.2935 8.59844 17.2935 9.71726C17.2935 13.6562 14.8993 14.5232 12.6197 14.777C12.9871 15.0933 13.3137 15.7188 13.3137 16.6759C13.3137 18.0455 13.3014 19.152 13.3014 19.4877C13.3014 19.7621 13.4856 20.0814 14.0056 19.9811C16.044 19.2975 17.8159 17.9905 19.071 16.245C20.3261 14.4994 21.0009 12.4036 21.0001 10.2536C21.0001 4.58993 16.4163 0 10.7638 0Z" fill="white"/>
</svg>`,
    link: 'https://rospirski.com/github',
  },
  {
    title: 'discord',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
  <path d="M13.2686 11.4287C13.2686 12.1258 12.7543 12.6972 12.1029 12.6972C11.4629 12.6972 10.9371 12.1258 10.9371 11.4287C10.9371 10.7315 11.4514 10.1601 12.1029 10.1601C12.7543 10.1601 13.2686 10.7315 13.2686 11.4287ZM7.93143 10.1601C7.28 10.1601 6.76571 10.7315 6.76571 11.4287C6.76571 12.1258 7.29143 12.6972 7.93143 12.6972C8.58286 12.6972 9.09714 12.1258 9.09714 11.4287C9.10857 10.7315 8.58286 10.1601 7.93143 10.1601ZM20 2.92582V23.4287C17.1208 20.8843 18.0416 21.7265 14.6971 18.6172L15.3029 20.7315H2.34286C1.05143 20.7315 0 19.6801 0 18.3772V2.92582C0 1.62296 1.05143 0.571533 2.34286 0.571533H17.6571C18.9486 0.571533 20 1.62296 20 2.92582ZM16.7429 13.7601C16.7429 10.0801 15.0971 7.09725 15.0971 7.09725C13.4514 5.86296 11.8857 5.89725 11.8857 5.89725L11.7257 6.0801C13.6686 6.67439 14.5714 7.53153 14.5714 7.53153C11.8567 6.04363 8.66768 6.04336 6.03429 7.2001C5.61143 7.39439 5.36 7.53153 5.36 7.53153C5.36 7.53153 6.30857 6.62868 8.36571 6.03439L8.25143 5.89725C8.25143 5.89725 6.68571 5.86296 5.04 7.09725C5.04 7.09725 3.39429 10.0801 3.39429 13.7601C3.39429 13.7601 4.35429 15.4172 6.88 15.4972C6.88 15.4972 7.30286 14.983 7.64571 14.5487C6.19429 14.1144 5.64571 13.2001 5.64571 13.2001C5.81384 13.3178 6.09107 13.4703 6.11429 13.4858C8.0433 14.5661 10.7834 14.92 13.2457 13.8858C13.6457 13.7372 14.0914 13.5201 14.56 13.2115C14.56 13.2115 13.9886 14.1487 12.4914 14.5715C12.8343 15.0058 13.2457 15.4972 13.2457 15.4972C15.7714 15.4172 16.7429 13.7601 16.7429 13.7601Z" fill="white"/>
</svg>`,
    link: 'https://rospirski.com/discord',
  },
]
---

<footer>
  <div class="bg-black3 py-12">
    <div
      class="container max-w-7xl text-white flex flex-col sm:flex-row justify-between text-center sm:text-left gap-2 p-5">
      <div>
        <p>© Rospirski. Todos os direitos reservados.</p>
        <p>CNPJ: 49.991.619/0001-02</p>
      </div>
      <div class="flex gap-5 items-center justify-center">
        {
          social.map((i) => (
            <a href={i.link} target="_blank" aria-label={i.title}>
              <Fragment set:html={i.icon} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
