---
const cards = [
  {
    icon: 'https://assets.rospirski.com/img/icons/cards-chip.svg',
    title: 'Reparos avançados',
    label: 'de macro à micro componentes',
  },
  {
    icon: 'https://assets.rospirski.com/img/icons/cards-guarantee.svg',
    title: 'Qualidade garantida',
    label: 'somentes produtos originais',
  },
  {
    icon: 'https://assets.rospirski.com/img/icons/cards-card.svg',
    title: 'Pague parcelado',
    label: 'Até 12x sem juros',
  },
]
---

<section id="inicio" class="bg-black">
  <div class="bg-black2 text-white border-b border-neutral-900 pb-28">
    <div class="container max-w-7xl flex flex-wrap justify-between py-20 sm:py-40 p-5 gap-20 md:gap-0">
      <div class="flex flex-col justify-center max-w-xl gap-6 w-full md:w-3/5">
        <h1 class="text-golden text-6xl font-bold">Valdir Rospirski</h1>
        <p class="text-justify tracking-[-.72px] font-2 font">
          Especialista em reparos e manutenções para dispositivos eletrônicos. Entendo a importância que seu celular,
          computador ou notebook têm na sua vida, por isso me esforço em cada reparo e manutenção.
        </p>
        <div>
          <div class="inline-block">
            <a
              href="https://rospirski.com/whatsapp"
              target="_blank"
              class="bg-golden py-3 px-6 rounded-3xl flex items-center font-medium gap-3 shadow-sm text-black hover:brightness-90">
              <img
                src="https://assets.rospirski.com/img/icons/whatsapp-black.svg"
                alt="Whatsapp Icone"
                class="mt-[2px]"
              />
              <span>Solicitar Orçamento</span>
            </a>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center w-full md:w-2/5">
        <img
          src="https://assets.rospirski.com/img/icons/circuit.svg"
          alt="Circuito Eletrônico"
          class="object-fill max-w-xs w-full"
        />
      </div>
    </div>
  </div>
  <div class="relative bg-black3 pb-24">
    <div class="flex flex-wrap containermax-w-7xl justify-center relative updiv">
      {
        cards.map((i) => (
          <div class="max-w-sm w-full md:w-1/3 p-4">
            <div class="flex flex-col text-center bg-golden py-8 px-2 rounded-xl h-full">
              <img src={i.icon} alt={i.title} class="object-fill h-20 mb-8" />
              <h3 class="text-2xl font-bold">{i.title}</h3>
              <h4 class="text-lg">{i.label}</h4>
            </div>
          </div>
        ))
      }
    </div>
    <div class="px-5">
      <div
        class="border-2 border-[#333] container max-w-7xl px-8 py-16 flex justify-between cta rounded-lg items-center flex-wrap gap-6">
        <div>
          <h2 class="font-bold text-4xl text-white">Está com o aparelho estragado?</h2>
          <h3 class="font-extrabold text-4xl text-golden">Nós resolvemos</h3>
        </div>
        <div>
          <div class="inline-block w-48">
            <a
              href="https://rospirski.com/whatsapp"
              target="_blank"
              class="py-3 px-6 rounded-3xl flex items-center font-medium gap-3 shadow-sm text-golden hover:brightness-90 border-golden border-2">
              <img
                src="https://assets.rospirski.com/img/icons/whatsapp-golden.svg"
                alt="Whatsapp Icone"
                class="mt-[2px]"
              />
              <span>Fale Conosco</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .updiv {
    top: -120px;
  }

  .cta {
    background: linear-gradient(120deg, rgba(20, 20, 20, 0.5) 0%, rgba(20, 20, 20, 0.8) 50%, rgba(20, 20, 20, 0.8) 100%),
      url('https://assets.rospirski.com/img/bg/cta-background.jpeg');
    background-size: cover;
  }
</style>
