---
import { Icon } from 'astro-icon'
const services = [
  {
    title: 'Reparo de placas',
    label: 'Com um serviço dedicado, seu aparelho voltará funcionando perfeitamente em pouco tempo!',
    icon: 'motherboard',
  },
  {
    title: 'Troca de componentes variados',
    label: 'Desde capacitores até microcontroladores, estamos prontos para deixar seu aparelho novo.',
    icon: 'chip',
  },
  {
    title: 'Troca de carcaças',
    label: 'Smartphone, notebook ou tablet? Não se preocupe, você vai se surpreender com o resultado final!',
    icon: 'case',
  },
  {
    title: 'Assistência especializada',
    label:
      'Conte conosco para resolver seus problemas. Entre em contato agora mesmo e deixe seu aparelho nas mãos de profissionais competentes!',
    icon: 'winner',
  },
  {
    title: 'Recebemos de todo o país',
    label:
      'Você pode enviar seus aparelhos de todo o Brasil, faremos os reparos e enviaremos novamente seu aparelho com garantia e qualidade!',
    icon: 'delivery',
  },
  {
    title: 'Atendimento Rápido',
    label:
      'Orçamento e reparo ágil. Assim garantindo que o cliente não ficará mais tempo que o necessário sem seu aparelho.',
    icon: 'fast',
  },
]
---

<section id="servicos">
  <div class="bg-black3 px-5 py-24 text-[#888]">
    <div class="container max-w-7xl mb-20">
      <h1 class="text-white font-semibold text-base text-center mb-2">SERVIÇOS</h1>
      <h2 class="text-golden text-4xl font-extrabold text-center mb-4">Manutenção Especializada</h2>
      <p class="text-center text-xl max-w-[500px] mx-auto">
        Ofereço um serviço completo desde o atendimento à entrega do equipamento
      </p>
    </div>
    <div class="container max-w-7xl">
      <div class="grid gap-x-5 gap-y-11 grid-cols-1 md:grid-cols-2">
        {
          services.map((i) => (
            <div class="flex gap-4">
              <div>
                <div class="bg-[#FBBF24] rounded-sm h-12 w-12 flex items-center justify-center">
                  <Icon name={i.icon} class="text-white w-8" />
                </div>
              </div>
              <div>
                <h3 class="text-white">{i.title}</h3>
                <p>{i.label}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
