header {
  .nav-main {
    transition: height cubic-bezier(0.23, 1, 0.32, 1) 0.5s;

    .navigation {
      a {
        transition: color cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

        &::before {
          content: '';
          display: block;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: -20px;
          background-color: $golden;
          left: 50%;
          transform: translate(-50%, 0);
          transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
        &.active {
          color: $golden;

          &::before {
            width: 110%;
          }
        }
      }
    }
  }
}
